{% extends 'base.html' %}

{% block main %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <p>
                        Спасибо, ваша анкета принята в приёмную комиссию МАИ меганаправления
                        <b>{{ megadirection_name }}</b>.
                    </p>
                    <p class="mt-4">
                        Сразу после начала официального приёма документов представитель приёмной комиссии свяжется с
                        вами.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
