body,main
{
	min-height: 100vh;
}

.topbar
{
	display: flex;
	align-items: center;
	min-height: 90px;
}
.brand
{
	display: flex;
	align-items: center;
}
.brand__logo
{
	display: block;
	width: 32px;
	height: 32px;
}
.brand__priem
{
	margin-left: 15px;
	display: block;
	min-width: 151px;
	width: 151px;
	height: 12px;
	background: url(https://dev.mai.ru/generic/images/logo/priem.svg?2020) no-repeat;
	background-size: contain;
}
h1
{
	font-size: 1.8em;
	color: #1C00EC;
	font-weight: 300;
	max-width: 240px;
}
.header
{

}
.act-caption
{
	font-size: 1rem;
	font-weight: 400;
}
.act-caption h6
{
	color: #000;
	font-size: 1.1em;
	font-weight: inherit;
	line-height: 1.4;
}
.act-caption h6:after
{
	display: block;
	content:"";
	width: 52px;
    height: 5px;
    background-color: #1c00ec;
	margin: 1.6em 0 1.6em;
}
.mainmenu .act-caption h6
{
	color: white;
}
.mainmenu .act-caption h6:after
{
	background-color: #402bf1;
}
.mainmenu a
{
	color: #5bc7ff;
}

.act-caption p
{
	color: #888;
	font-size: .9em;
	line-height: 1.2;
}
.card-holder
{
	margin: -10px;
}
.card
{
	border: none;
	border-radius: 6px;
	margin: 10px;
}
.card_white
{
	background-color: #fff;
}
.header,.content
{
	margin-top: 30px;
}
@media all and (max-width: 991.98px)
{
	.header,.content	{	margin-top: 10px;	}
}
h6
{
	line-height: 1.4;
}
.btn-usermenu
{
	color: #1C00EC;
	font-size: 28px;
	line-height: 0;
	padding: 4px;
	border: none;
	background: none;
}
