<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="margin: 0; padding: 0;">

<div bgcolor="#ffffff" marginwidth="0" marginheight="0"
     style="width:100%!important;margin:0;padding:0;background:#ffffff">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td align="center">
                <table align="center" cellspacing="0" cellpadding="0" border="0"
                       style="width:100%; max-width:760px; border:0;">
                    <!-- content -->
                    <tbody>

                    <!-- preheader -->
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0"
                                   style="border-spacing:0;margin:0;padding:0;background-color:#ffffff;">
                                <tr>
                                    <td style="padding-top:0px;padding-bottom:5px;padding-right:0;padding-left:0;text-align:left;font-size:0px;line-height:0px;">
                                        <div style="width:100%;max-width:465px;display:inline-block;vertical-align:top;">
                                            <table width="100%" cellpadding="0" cellspacing="0"
                                                   style="border-spacing:0;">
                                                <tr>
                                                    <td align="left"
                                                        style="padding-top:4px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:left;">
                                                        <span style="text-align:left;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:12px;color:#8e8e8e;-webkit-text-size-adjust:none;">Ведущий технологичный университет России</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div style="width:100%;max-width:295px;display:inline-block;vertical-align:top;">
                                            <table width="100%" cellpadding="0" cellspacing="0"
                                                   style="border-spacing:0;">
                                                <tr>
                                                    <td align="left" style="padding:0;margin:0;">
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                               style="margin:0;padding:0;">
                                                            <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="padding-top:4px;padding-bottom:0px;padding-right:20px;padding-left:0px;text-align:left;font-size:11px;line-height:12px;width: 48px;">
                                                                    <a style="text-decoration:none;color:#0095da;-webkit-text-size-adjust:none;display:block;padding:0;margin:0;white-space:nowrap;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:12px;"
                                                                       target="_blank"
                                                                       href="https://mai.ru/priem/contacts.php?from=email">Контакты</a>
                                                                </td>
                                                                <td style="padding:4px 0 0 0;margin:0;width:3px;font-size:0px;">
                                                                    <img src="https://dev.mai.ru/mailing/images/pipeline.png"
                                                                         alt="">
                                                                </td>
                                                                <td align="left"
                                                                    style="padding-top:4px;padding-bottom:0px;padding-right:0px;padding-left:20px;text-align:left;font-size:11px;line-height:12px;width: 204px;">
                                                                    <a style="text-decoration:none;color:#0095da;-webkit-text-size-adjust:none;display:block;padding:0;margin:0;white-space:nowrap;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:12px;"
                                                                       target="_blank" href="tel:+74991584065">Приёмная&nbsp;комиссия
                                                                        &nbsp;+7&nbsp;(499)&nbsp;158-40-65</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- preheader -->
                    <!-- body -->

                    {% block main %}
                    {% endblock %}

                    <!-- body -->
                    <!-- footer без отписки -->

                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0"
                                   style="border-spacing:0;margin:0; padding:0;background-color:#ffffff;">
                                <tr>
                                    <td style="padding-top:1px;padding-bottom:0px;padding-right:0;padding-left:0;text-align:left;font-size:0px;line-height:0px;">
                                        <div style="width:100%;max-width:500px;display:inline-block;vertical-align:top;">
                                            <table width="100%" cellpadding="0" cellspacing="0"
                                                   style="border-spacing:0;">
                                                <tr>
                                                    <td align="left"
                                                        style="padding-top:4px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:left;font-size:11px;line-height:12px;">
                                                        <a style="-webkit-text-size-adjust:none;white-space:nowrap;font-family:Arial,Helvetica,sans-serif;font-size:11px;pointer-events:none;line-height:12px;text-decoration:none;color:#8e8e8e;">©
                                                            1997-2021 МАИ (НИУ)</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div style="width:100%;max-width:260px;display:inline-block;vertical-align:top;">
                                            <table width="100%" cellpadding="0" cellspacing="0"
                                                   style="border-spacing:0;">
                                                <tr>
                                                    <td align="left" style="padding: 0; margin: 0;">
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                               style="margin:0;padding:0;width:100%;max-width:260px;">
                                                            <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="padding-top:4px;padding-bottom:0px;padding-right:20px;padding-left:0px;text-align:left;font-size:11px;line-height:12px;width: 47px">
                                                                    <a style="text-decoration:none;color:#0095da;-webkit-text-size-adjust:none;display:block;padding:0;margin:0;white-space:nowrap;font-family:Arial, Helvetica,sans-serif;font-size:11px;line-height:12px;"
                                                                       target="_blank"
                                                                       href="https://mai.ru/priem/contacts.php?from=email">Контакты</a>
                                                                </td>
                                                                <td style="padding:4px 0 0 0;margin:0;width:3px;font-size: 0px;">
                                                                    <img src="https://dev.mai.ru/mailing/images/pipeline.png"
                                                                         alt="">
                                                                </td>
                                                                <td align="left"
                                                                    style="padding-top:4px;padding-bottom:0px;padding-right:20px;padding-left:20px;text-align:left;font-size:11px;line-height:12px;width:95px;">
                                                                    <a style="text-decoration:none;color:#0095da;-webkit-text-size-adjust:none;display:block;padding:0;margin:0;white-space:nowrap;font-family:Arial, Helvetica, sans-serif;font-size:11px;line-height:12px;"
                                                                       target="_blank" href="tel:+74991584065">+7&nbsp;(499)&nbsp;158-40-65</a>
                                                                </td>
                                                                <td style="padding:4px 0 0 0;margin:0;width:3px;font-size: 0px;">
                                                                    <img src="https://dev.mai.ru/mailing/images/pipeline.png"
                                                                         alt="">
                                                                </td>
                                                                <td align="left"
                                                                    style="padding-top:4px;padding-bottom:0px;padding-right:0px;padding-left:20px;text-align:left;font-size:11px;line-height:12px;width: 31px;">
                                                                    <a style="text-decoration:none;color:#0095da;-webkit-text-size-adjust:none;display:block;padding:0;margin:0;white-space:nowrap;font-family:Arial, Helvetica, sans-serif;font-size:11px;line-height:12px;"
                                                                       target="_blank"
                                                                       href="https://mai.ru/?from=email">mai.ru</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:0px;padding-bottom:0px;padding-right:0;padding-left:0;text-align:left;font-size:0px;line-height:0px;">
                                        <div style="width:100%;max-width:598px;display:inline-block;vertical-align:top;">
                                            <table width="100%" cellpadding="0" cellspacing="0"
                                                   style="border-spacing:0;">
                                                <tr>
                                                    <td align="left"
                                                        style="padding-top:4px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:left;font-size:11px;line-height:12px;">
                                                        <span style="-webkit-text-size-adjust:none;white-space:nowrap;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:12px;color:#8e8e8e;">Ведущий технологичный университет России</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div style="width:100%;max-width:162px;display:inline-block;vertical-align:top;">
                                            <table width="100%" cellpadding="0" cellspacing="0"
                                                   style="border-spacing:0;">
                                                <tr>
                                                    <td align="left"
                                                        style="padding-top:4px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:left;font-size:11px;line-height:12px;">
                                                        <span style="-webkit-text-size-adjust:none;white-space:nowrap;font-size:11px;line-height:12px;font-family:Arial,Helvetica,sans-serif;color:#8e8e8e;">Будь в курсе мероприятий МАИ</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:0px;padding-bottom:0px;padding-right:0;padding-left:0;text-align:left;font-size:0px;line-height:0px;">
                                        <div style="width:100%;max-width:648px;display:inline-block;vertical-align:top;">
                                            <table width="100%" cellpadding="0" cellspacing="0"
                                                   style="border-spacing:0;">
                                                <tr>
                                                    <td align="left"
                                                        style="padding-top:4px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:left;font-size:11px;line-height:12px;width:31px;">
                                                        <a style="color:#8e8e8e;white-space:nowrap;-webkit-text-size-adjust:none;text-decoration:underline;text-decoration-style:solid;font-size:11px;line-height:12px;font-family:Arial,Helvetica,sans-serif;"
                                                           target="_blank" href="#">Отказаться от получения рассылки</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div style="width:100%;max-width:112px;display:inline-block;vertical-align:top;">
                                            <table width="100%" cellpadding="0" cellspacing="0"
                                                   style="border-spacing:0;">
                                                <tr>
                                                    <td align="left"
                                                        style="padding-top:6px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                                                        <table cellpadding="0" align="center"
                                                               style="border-collapse:collapse;margin:0;padding:0;">
                                                            <tbody>
                                                            <tr>
                                                                <td style="-webkit-font-smoothing:subpixel-antialiased;padding: 0 4px 0 0">
                                                                    <a href="http://www.facebook.com/maiuniversity"
                                                                       target="_blank"
                                                                       style="text-decoration:underline;"><img
                                                                            src="https://dev.mai.ru/mailing/images/facebook.png"
                                                                            height="16" width="16"
                                                                            style="border-width:0;">
                                                                    </a>
                                                                </td>
                                                                <td style="-webkit-font-smoothing:subpixel-antialiased;padding: 0 4px">
                                                                    <a href="https://telegram.me/maiuniversity"
                                                                       target="_blank"
                                                                       style="text-decoration:underline;"><img
                                                                            src="https://dev.mai.ru/mailing/images/telegram.png"
                                                                            height="16" width="16"
                                                                            style="border-width:0;">
                                                                    </a>
                                                                </td>
                                                                <td style="-webkit-font-smoothing:subpixel-antialiased;padding: 0 4px">
                                                                    <a href="http://www.vk.com/maiuniversity"
                                                                       target="_blank"
                                                                       style="text-decoration:underline;"><img
                                                                            src="https://dev.mai.ru/mailing/images/vkontakte.png"
                                                                            height="16" width="16"
                                                                            style="border-width:0;">
                                                                    </a>
                                                                </td>
                                                                <td style="-webkit-font-smoothing:subpixel-antialiased;padding: 0 4px">
                                                                    <a href="http://www.instagram.com/maiuniversity"
                                                                       target="_blank"
                                                                       style="text-decoration:underline;"><img
                                                                            src="https://dev.mai.ru/mailing/images//instagram.png"
                                                                            height="16" width="16"
                                                                            style="border-width:0;">
                                                                    </a>
                                                                </td>
                                                                <td style="-webkit-font-smoothing:subpixel-antialiased;padding: 0 0 0 4px">
                                                                    <a href="https://www.youtube.com/maiuniversity"
                                                                       target="_blank"
                                                                       style="text-decoration:underline;"><img
                                                                            src="https://dev.mai.ru/mailing/images/youtube.png"
                                                                            height="16" width="16"
                                                                            style="border-width:0;">
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- footer -->
                    </tbody>
                    <!-- content -->
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
